.aboutCard{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    max-width: 250px
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 175px;
}