.results-list {
    width: 90%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    margin-right: auto; /* Added for horizontal centering */
    margin-left: auto; /* Added for horizontal centering */
    max-height: 300px;
    overflow-y: scroll;
}
