.aboutCard{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    max-width: 400px;
    height: 500px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

.committeeHeader {
    column-gap: 20px;
    list-style-type: none; /* Removes the default list-style */
    padding-left: 0;      /* Removes the default padding */
    margin-left: 0;       /* Adjusts or removes the default margin */
    text-align: left;     /* Ensures text aligns to the left */
}

.committeeItem{
    display: block;
}
