.customH1{
    background-color: rgba(28,60,82,255);
    font-size: 38px;
}

.customH2{
    background-color: rgba(28,60,82,255);
    font-size: 25px;
}

.committeeMembers {
    columns: 3;
    column-gap: 20px;
    list-style-type: none; /* Removes the default list-style */
    padding-left: 0;      /* Removes the default padding */
    margin-left: 0;       /* Adjusts or removes the default margin */
    text-align: left;     /* Ensures text aligns to the left */
}

.committeeHeader {
    column-gap: 20px;
    list-style-type: none; /* Removes the default list-style */
    padding-left: 0;      /* Removes the default padding */
    margin-left: 0;       /* Adjusts or removes the default margin */
    text-align: left;     /* Ensures text aligns to the left */
}

.committeeItem{
    display: block;
}
