.navbar{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242424;
    color: white;

    padding: 15px 7%;
    transition: 0.5s;
}

.logo{
    width: 160px;
    cursor:pointer;
}

ul{
    /*Flex 1 uses the entire row*/
    flex:1;
    list-style: None;
    text-align: center;
}

li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 40px; 
}

.search-box{
    display:flex;
    align-items: center;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
}
.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
    font-size: 18px;
    max-width: 200px;
    color: black;
}
.search-box input::placeholder{
    color: black;
}
.search-box img{
    width: 20px;
    cursor: pointer;
}