/* Applies to all html */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  width: 100vw;
  min-height: 100vh;
  background:lightsteelblue;
  transition: 0.5s;
}
.container.dark{
  background:#222;
}